.container {
  display: flex;
  flex-direction: row;
}

.forms {
  display: flex;
  flex-direction: column;
  padding: 10%;
  width: 50%;
}

.preview {
  background: linear-gradient(135deg, rgb(0, 50, 0), rgb(0, 150, 0));
  padding: 10%;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

/* #name-label {
  display: flex;
  flex-direction: column;
}

#description-label {
  display: flex;
  flex-direction: column;
}

#image-label {
  display: flex;
}

#image-input {
  width: 100%;
}

#rare-label {
  display: flex;
  flex-direction: column;
}

#save-button {
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  width: 50px;
} */
