body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

.forms {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0% 10%;
  width: 50vw;
}

.preview {
  align-items: center;
  background: linear-gradient(135deg, #01415b, #ccea8d);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0% 10%;
  width: 50vw;
}

.preview .title {
  color: white;
}

.card {
  align-items: stretch;
  background-color: #019587;
  border: solid 10px white;
  border-radius: 15px;

  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  height: 450px;
  padding: 10px;
  width: 300px;
}

.card-name {
  align-items: center;
  background-color: #a6bc09;
  border-radius: 5px 5px 0% 0%;
  color: white;
  display: flex;
  height: 40px;
  justify-content: start;
  margin-bottom: 0%;
  margin-top: 0%;
  padding-left: 20px;
}

.card-image {
  background-color: grey;

  /* box-sizing: border-box; */

  /* flex-basis: 150px; */
  height: 175px;

  /* width: 260px; */
}

.card-description {
  align-items: center;
  background-color: #01415b;
  border-radius: 0% 0% 5px 5px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: smaller;
  height: 150px;
  margin: 0%;
  padding: 5px;
}

.card-attr {
  align-items: center;
  background-color: #005148;
  border-radius: 10px;
  color: white;
  display: flex;
  height: 25px;
  justify-content: center;
  margin: 0;
  margin-top: 5px;
}

.card-footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-evenly;
}

.card-rare {
  box-sizing: border-box;
  color: white;
  display: flex;
  font-size: smaller;
  justify-content: center;
  width: 80px;
}

.super-trunfo {
  align-items: center;
  background-color: #a6bc09;
  border-radius: 50%;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-size: smaller;
  font-weight: 750;
  height: 80px;
  text-align: center;
  width: 80px;
}

form {
  display: flex;
  flex-direction: column;
}

.forms .title {
  text-align: center;
}

.name-label {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.name-input {
  border: solid 2px;
  border-color: #01415b #ccea8d #ccea8d #01415b;
  border-radius: 0%;
}

.description-label {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.description-input {
  border: solid 2px;
  border-color: #01415b #ccea8d #ccea8d #01415b;
  border-radius: 0%;
}

/* .attributes {

} */

/* #image-label {
  display: flex;
} */

/* #image-input {
  width: 100%;
} */

/* #rare-label {
  display: flex;
  flex-direction: column;
} */

/* #save-button {
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px;
  width: 50px;
} */
